<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="topbar">
        <nav class="navbar navbar-pf-vertical">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/app/home" class="navbar-brand">
                    <img class="navbar-brand-icon" src="../img/logo-alt.svg" alt=""/><img class="navbar-brand-name" src="../img/brand-alt.svg" alt="PatternFly Enterprise Application" />
                </a>
            </div>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" target="_blank" class="nav-item-iconic nav-item-iconic-new-window"><span title="Launch" class="fa fa-external-link"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-iconic">
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-item-iconic" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span title="Notifications" class="fa pficon-flag"></span>
                            <span class="badge">2</span>
                        </a>
                        <div class="dropdown-menu infotip bottom-right">
                            <div class="arrow"></div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="i pficon pficon-info"></span> Modified Datasources ExampleDS
                                </li>
                                <li class="list-group-item">
                                    <span class="i pficon pficon-info"></span> Error: System Failure
                                </li>
                            </ul>
                            <div class="footer">
                                <a>Clear Messages</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span title="Help" class="fa pficon-help"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span title="Username" class="fa pficon-user" th:text="${' ' + session.loggedInUser}">User</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">Preferences</a></li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </nav>
    </div>

    <div th:fragment="leftmenu">
        <div class="nav-pf-vertical nav-pf-vertical-with-sub-menus hide-nav-pf">
            <ul class="list-group">
                <li class="list-group-item" id="dashboard-menu" >
                    <a href="home">
                        <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
                        <span class="list-group-item-value">Dashboard</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a>
                        <span class="fa fa-shield" data-toggle="tooltip" title="Dolor"></span>
                        <span class="list-group-item-value">Dolor</span>
                    </a>
                </li>
                <li class="list-group-item secondary-nav-item-pf" id="tasks-menu">
                    <a>
                        <span class="fa fa-space-shuttle" data-toggle="tooltip" title="Ipsum"></span>
                        <span class="list-group-item-value">Tasks</span>
                    </a>

                    <div id="-secondary" class="nav-pf-secondary-nav">
                        <div class="nav-item-pf-header">
                            <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                            <span>Tasks</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" id="tasks-processes-menu">
                                <a href="processes">
                                    <span class="list-group-item-value">Processes</span>
                                </a>

                            </li>
                            <li class="list-group-item " id="tasks-jobs-menu">
                                <a href="jobs">
                                    <span class="list-group-item-value">Jobs</span>
                                </a>

                            </li>
                            <li class="list-group-item " id="tasks-whatnots-menu">
                                <a>
                                    <span class="list-group-item-value">What-Nots</span>
                                </a>

                            </li>

                        </ul>
                    </div>


                </li>
                <li class="list-group-item secondary-nav-item-pf" data-target="#amet-secondary">
                    <a>
                        <span class="fa fa-paper-plane" data-toggle="tooltip" title="Amet"></span>
                        <span class="list-group-item-value">Amet</span>
                    </a>

                    <div id="amet-secondary" class="nav-pf-secondary-nav">
                        <div class="nav-item-pf-header">
                            <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                            <span>Amet</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item " data-target="#amet-detracto-tertiary">
                                <a>
                                    <span class="list-group-item-value">Detracto</span>



                                </a>

                            </li>
                            <li class="list-group-item " data-target="#amet-mediocrem-tertiary">
                                <a>
                                    <span class="list-group-item-value">Mediocrem</span>



                                </a>

                            </li>
                            <li class="list-group-item " data-target="#amet-corrumpit-tertiary">
                                <a>
                                    <span class="list-group-item-value">Corrumpit</span>



                                </a>

                            </li>

                        </ul>
                    </div>


                </li>
                <li class="list-group-item">
                    <a>
                        <span class="fa fa-graduation-cap" data-toggle="tooltip" title="Adipscing"></span>
                        <span class="list-group-item-value">Adipscing</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a>
                        <span class="fa fa-gamepad" data-toggle="tooltip" title="Lorem"></span>
                        <span class="list-group-item-value">Lorem</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</div>